@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/* font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

main{
     background: url(../image/backgrounds/background-home-desktop.jpg) center center no-repeat;  
     min-height: 100vh; 
     background-size: cover;
     color: white;
}

.page-home .description{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 386px;
    margin-top: 300px;
}

.page-home .description .info{
    max-width: 450px;
}

.page-home .description .info h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 2.8rem;
    letter-spacing: 4.725px;
    margin-bottom: 24px;
    color: #D0D6F9;
}

.page-home .description .info .space{
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: 15rem;
    line-height: 172px;
    color: #FFFFFF;
}

.page-home .description .info p{
    font-family: 'Barlow';
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 3.2rem;
    margin-top: 28px;
    color: #D0D6F9;
}

.page-home .description .btn{
    background-color: #ffffff;
    color: black;
    border-radius: 50%;
    width: 274px;
    height: 274px;
    font-size: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-home .description .btn:hover{
    box-shadow: rgba(255, 255, 255, 0.138) 0px 0px 70px 100px;
}