@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
/* font-family: 'Bellefair', serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* font-family: 'Barlow', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap');
/* font-family: 'Barlow Condensed', sans-serif; */

body{
    background: url(../image/backgrounds/background-technology-desktop.jpg) center center no-repeat;
    min-height: 100vh;
    background-size: cover;
    color: white;
}

.technology .description{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 200px;
    position: relative;
}

.technology .description .number{
    opacity: 0.25;
}

.technology .description h2{
    font-family: 'Barlow Condensed';
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 4.725px;
    color: #FFFFFF;
    position: absolute;
    top: -110px;
    left: 0;
}

.technology .description .nav-techno{
    position: absolute;
    left: 0;
    top: 130px;
}

.technology .description .nav-techno ol li a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid #ffffff56;
    background-color: transparent;
    font-family: 'Bellefair';
    font-size: 32px;
    color: white;
}

.technology .description .nav-techno ol li a.selecionado{
   background-color: white;
   color: black;
}

.technology .description .menu-info{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1430px;
    height: 550px;
}

.technology .description .menu-info .info-img{
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s linear; 
}

.technology .description .menu-info .info-img.selecionado{
    opacity: 1;
}

.technology .description .menu-info .info-img .info{
    max-width: 470px;
    margin-right: 180px;
}

.technology .description .menu-info .info-img .info .sub-title{
    font-family: 'Bellefair', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    color: #D0D6F9;
    margin-bottom: 11px;
}

.technology .description .menu-info .info-img .info .title{
    font-family: 'Bellefair';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    color: #FFFFFF;
    margin-bottom: 17px;
}

.technology .description p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    color: #D0D6F9;
    max-width: 444px;
}